.mobileRSS {
    display: none;
    padding: 0 1.5rem 3rem;
    background: var(--background);
}

.rssSection {
    margin-top: 3rem;
}

@media (max-width: 1024px) {
    .mobileRSS {
        display: block;
    }
}